<!DOCTYPE html>

<html>
  <head>
    <title>Soham Satpati Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <h1 style="text-align: center">Soham's Portfolio</h1>
    <p style="text-align: center">FCC API and Microservice Projects</p>
    <hr />
    <div class="container">
      <h3>Projects are:</h3>
      <ul>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li>
          <a href="/requestHeaderPerser">Request Header Parser Microservice</a>
        </li>
        <li><a href="/urlShortener">URL Shortener Microservice</a></li>
        <li><a href="/excerciseTracker">Exercise Tracker</a></li>
        <li><a href="/fileMetadata">File Metadata Microservice</a></li>
      </ul>
    </div>
    <div class="footer">
      <p>By Soham Satpati</p>
    </div>
  </body>
</html>
